.player {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 10px;
    outline: none;
}

#player-one {
    background-color: var(--player-one-color);
}

#player-two {
    background-color: var(--player-two-color);
}

#player-three {
    background-color: var(--player-three-color);
}

#player-four {
    background-color: var(--player-four-color);
}