#game-page {
    min-height: 100vh;
    transition: transform 0.7s, opacity 0.7s;
    z-index: 2;
 
  &.transition-appear {
    transform: translate3d(100%, 0, 0);
  }
 
  &.transition-appear.transition-appear-active {
    transform: translate3d(0, 0, 0);
  }
  &.transition-leave {
    transform: translate3d(0, 0, 0);
  }
 
  &.transition-leave.transition-leave-active {
    transform: translate3d(100%, 0, 0);
  }
}

#game-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    z-index: 10;
    height: 100vh;
    min-height: 350px;
    width: 120px;
    position: fixed;
    border-right: 1px solid var(--main-color);
    box-shadow: 0 0 2px 2px var(--main-color);
}

#game-board {
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 950px;
}

#give-up-button {
    background-color: var(--give-up-color);
    color: white;
}

.disabled-true {
    opacity: 0.3;
    box-shadow: none !important;
}

.disabled-true:hover {
    box-shadow: none !important;
    cursor: default;
}

.winner {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .winner-name {
        margin: 5px;
        
    }
}

.player-icon {
    width: 10px;
    height: 10px;
    margin-left: auto;
    display: inline-block;
    border-radius: 50%;
}

.player-info-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    color: var(--text-color);

    .player-info {
        width: 100px;
        height: 60px;
        background-color: white;
        box-shadow: 0 0 3px 3px white;
        border-radius: 10px;
        transition: width 0.3s, box-shadow 0.5s, margin 0.5s;
    }

    .player-info:hover {
        width: 200px;
        box-shadow: 0 0 3px 3px var(--main-color);
        margin-left: 100px;
        transition: width 0.3s, box-shadow 0.5s, margin 0.3s;
    }
    
    .player-info-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
        flex-shrink: 0;
    }

    .player-info-body {
        padding: 2px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-shrink: 0;

        #jail-card {
            right: 0;
            flex-shrink: 0;
        }
    }

    .active-player {
        transition: 1s box-shadow ease-in-out;
        animation-name: wiggle;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
    }
    
    .active-player-one {
        box-shadow: 0 0 5px 5px var(--player-one-color);
    }
    
    .active-player-two {
        box-shadow: 0 0 5px 5px var(--player-two-color);
    }
    
    .active-player-three {
        box-shadow: 0 0 5px 5px var(--player-three-color);
    }
    
    .active-player-four {
        box-shadow: 0 0 5px 5px var(--player-four-color);
    }
    
    .active-player-five {
        box-shadow: 0 0 5px 5px var(--player-five-color);
    }
    
    .active-player-six {
        box-shadow: 0 0 5px 5px var(--player-six-color);
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    50% { 
        transform: rotate(0deg); 
    }
    70% { 
        transform: rotate(5deg); 
    }
    90% { 
        transform: rotate(-5deg); 
    }
    100% { 
        transform: rotate(0deg); 
    }
}    

.in-jail {
    opacity: 0.4; 
}

.in-jail::before {
    content: "\f502";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    margin: auto;
    text-align: center;
    font-size: 50px;
    padding: 5px;
    padding-left: 25px;
}

@media (max-height: 620px) {
    .player-info-bar {
        margin-top: 5px;

        .player-info {
            height: 15px;
            font-size: 0.7em;
            display: flex;
            align-items: center;
            overflow: hidden;
            
            .player-icon {
                margin-left: 5px;
                width: 6px;
                height: 6px;
            }

            #jail-card {
                margin-left: 25px;
            }
        }
    }

    .in-jail::before {
        content: "\f502";
        font-size: 10px;
        padding-left: 95px;
    }
}