.player-moves {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .card {
        width: 400px;
        height: 200px;
        border: 1px solid black;
        background-color: white;
        padding: 5px;
        margin: 10px;
        z-index: 10;
    
        h3 {
            text-align: center;
        }
    }

    button {
        cursor: pointer;
        width: 100%;
    }

    #end-turn-button {
        background-color: var(--end-turn-color);
    }

    #roll-dice-button {
        background-color: var(--roll-dice-color);
    }

    .essential-buttons {
        background-color: var(--essential-buttons-color);
    }
}

.menu {
    display: flex;
    flex-direction: column;
    height: 100%;

    select {
        height: 100%;
        overflow-y: hidden;
        background-color: white;
    }

    option {
        border: 1px solid blue;
        padding: 10px;
        background-color: white;
    }

    .menu-options:hover {
        border: 1px solid black;
        cursor: pointer;
    }

    .header-option {
        border: 2px solid black;
        margin-bottom: 10px;
        cursor: default;
    }

    .menu-buttons {
        display: flex;
        justify-content: space-between;
    }
}