.transition-wrapper {
    min-height: 100vh;
    position: relative;
    z-index: 1;

    .transition-item {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
      }
}

#home-page {
    background-color: var(--main-color);
    left: 0;
    top: 0;
    min-height: 100vh;
    overflow: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.7s;
 
  &.transition-appear {
    transform: translate3d(-100%, 0, 0);
  }
 
  &.transition-appear.transition-appear-active {
    transform: translate3d(0, 0, 0);
  }

  &.transition-leave {
    transform: translate3d(0, 0, 0);
  }
 
  &.transition-leave.transition-leave-active {
    transform: translate3d(-100%, 0, 0);
  }
}

#start-game {
    font-size: 1.1em;
}

#page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    h1 {
        font-size: 2.5em;
        text-align: center;
        text-shadow: 0px 0px 3px white;
        margin-bottom: 10px; 
    }
    
    #before-title {
        margin: 28px 20px 0px 0px;
        height: 4px;
        background-color: white;
        width: 15%;
        box-shadow: 0 0 2px 1px white;
    }
    
    #after-title {
        margin: 28px 0px 0px 20px;
        height: 4px;
        background-color: white;
        width: 15%;
        box-shadow: 0 0 2px 1px white;
    }
}



#current-players {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: auto;
    margin-top: 30px;
    

    .current-player-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 0;

        .current-player {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 3px;

            .player-name {
                font-weight: bold;
            }
        }
    }
}

#home {
    text-align: center;
    height: 500px;
    width: 400px;
    margin: auto;
    padding: 20px 10px;
    box-sizing: border-box;
    box-shadow: 0 0 2px 5px white;
    border-radius: 10px;
    background-color: white;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h2 {
        border-radius: 20px;
        box-shadow: 0 0 0px 2px var(--secondary-color);
        width: 90%;
        padding: 5px;
        font-size: 1.2em;
    }
}