.player {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 10px;
    outline: none;
}

#player-one {
    background-color: red;
}

#player-two {
    background-color: blue;
}

#player-three {
    background-color: green;
}

#player-four {
    background-color: yellow;
}

